<div class="entry-form">
  <h2>Add A Monthly Entry</h2>
  <form (ngSubmit)="saveDetails()">
    <div class="form-details-box">
      <div class="form-details-editable">
        <div class="entry-time">
          <div class="entry-field">
            <label for = "month">Month</label><br>
            <select name="month" id="month" [(ngModel)] = "month" required>
              <option *ngFor="let item of months" value={{item.value}}>{{item.displayText}}</option>
            </select>
          </div>
          <div class="entry-field">
            <label for = "year">Year</label><br>
            <select name="year" id="year" [(ngModel)] = "year" required>
              <option *ngFor="let y of yearRange" value={{y}}>{{y}}</option>
            </select>
          </div>
        </div>
        <div class="entry-amts">
          <div class="entry-field">
            <label for = "beforeSalaryCredit">A/c Balance</label><br>
            <input type = "number" id = "beforeSalaryCredit" name="beforeSalaryCredit"
              [(ngModel)] = "beforeSalaryCredit"
              (ngModelChange)="updateTotalInSalaryAccountAfterCredit()"
              required
            />
          </div>
          <div class="entry-field">
            <label for = "salaryCreditAmount">Salary Received</label><br>
            <input type = "number" id = "salaryCreditAmount" name="salaryCreditAmount"
              [(ngModel)] = "salaryCreditAmount"
              (ngModelChange)="updateTotalInSalaryAccountAfterCredit()"
              required
            />
          </div>
        </div>
      </div>
  
      <table class="form-details-noneditable">
        <th>Balance after Salary Credit</th>
        <th>Total Credit Card Bill</th>
        <th>Amount Left After Expenditures</th>
        <tr>
          <td>{{totalInSalaryAccountAfterCredit}}</td>
          <td>{{totalCreditCardBillAmount}}</td>
          <td>{{projectedAfterExpenditures}}</td>
        </tr>
      </table>
    </div>

    <div class="item-buttons">
      <add-item-btn
        title="Add Expense Item"
        bgColour="#4CAF50"
        (btnClick)="appendEntryItem()"
      ></add-item-btn>
      <add-item-btn
        title="Do Something"
        bgColour="#F44336"
      ></add-item-btn>
    </div>

    <div class="tasks-list">
      <entry-item *ngFor="let expItm of expenseItems"></entry-item>
    </div>

    <div class="form-buttons">
      <input type="submit" value="Save" class="generic-btn"/>
    </div>
  </form>
</div>